[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "*"
openpyxl = "*"
pandas = "==1.3.5"
SQLAlchemy = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pipfile = "*"
ydata-profiling = "*"
nbconvert = "*"

[dev-packages]
isort = "*"
black = {extras = [ "jupyter",]}
ipykernel = "*"
pipfile = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
