[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
openpyxl = "*"
pandas = "*"
pipfile = "*"
nbconvert = "*"
typing-extensions = "*"
numpy = "==1.26.4" # required by sweetviz

[profiling-packages]
ydata-profiling = "*"
sweetviz = "*"

[database-packages]
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
isort = "*"
black = {extras = [ "jupyter",]}
ipykernel = "*"
pipfile = "*"
pytest = "*"
pytest-cov = "*"
typing-extensions = "*"
mkdocs-material = "*"
mkdocs = "*"
mkdocstrings-python = "*"
mkdocstrings = {version = "*", extras = ["python"]}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
