[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-profiling = "*"
tqdm = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[dev-packages.black]
extras = [ "jupyter",]
